body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .navigation {
    background: #1f1f1f;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    margin: 0;
    font-size: 2rem;
    color: #FFF;
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin: 0;
    color: #FFF;
  }
  
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .section {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #FFF;
  }
  
  .input-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .input-code {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
  }
  
  .btn, .btn2 {
    font-weight: bolder;
    padding: 0.5rem 1rem;
    background-color: #FFF;
    color: #121212;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn:hover, .btn2:hover {
    background-color: #121212;
    color: #FFF;
    border: 1px solid #FFF;
  }
  
  .text-group h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .text-group h2 span {
    color: red;
  }
  
  .create-room {
    margin-top: 2rem;
  }
  
  .permission-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .permission-group label {
    margin-left: 0.5rem;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #1f1f1f;
  }
  
  footer a {
    color: #FFF;
    text-decoration: none;
  }
  
  @media (max-width: 600px) {
    .input-group {
      flex-direction: column;
    }
  
    .btn, .btn2 {
      width: 100%;

    }
  
    .section-title, .text-group h2, .para {
      font-size: 1rem;
    }
  }
  